@font-face {
  font-family: "Vangba-Regular";
  src: url("./fonts/Vangba-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ShareTechMono-Regular";
  src: url("./fonts/ShareTechMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main {
  width: 100wh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "ShareTechMono-Regular";
  background-color: rgba(0,0,0,1);
}

.font {
  font-family: "ShareTechMono-Regular";
}

.basic {
  font-family: "ShareTechMono-Regular";
  background-color: black;
  color: white;
  border: 1px brown solid;
}


.panel {
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 39%;
  min-height: 85%;
  font-family: "ShareTechMono-Regular";
  font-size: 20px;
  border: 1px brown solid;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* .img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
} */

.alertMessage {
  position: absolute;
  left: 35%;
  right: 35%;
  margin: 0 auto;
  padding: 13px;
  margin: 5px;
  border: 1px brown solid;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
}
